html {
	font-size: 1px;

	@include tablet {
		font-size: 0.9px;
	}

	@include mobile {
		font-size: 0.8px;
	}
}

body {
	font-size: 16rem;
	font-family: var(--font-family);
	background: var(--bg-main);
	color: #fff;
}

.container {
	padding: 0 20rem;
	max-width: 1166rem;
	margin-inline: auto;
}

.bg-dark {
	background: var(--bg-second);
}


.title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 42rem;
	line-height: 152%;
	color: var(--title-light);

	span {
		color: var(--title-yellow);
	}
}

.desc {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16rem;
	line-height: 169%;
	color: var(--desc-first);
}

.text-center {
	text-align: center;
}

.mx-auto {
	margin-inline: auto;
}

.btn {
	display: inline-block;
    border: 0;
    outline: 0;
    cursor: pointer;
	color: var(--black);
	background: var(--title-yellow);
	border-radius: 4rem;
	padding: 16rem 20rem;
	transition: .2s all ease-in-out;
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1), 0 0 10rem 0 rgba(255, 255, 255, 0.3);
	}
}


