* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

li {
    list-style: none;
}

input, textarea {
    outline: none;
}