:root {
  --font-family: "Lexend Deca", sans-serif;
  --second-family: "Arvo", sans-serif;
  --white: #fff;
  --black: #000;
  --bg-main: #020617;
  --bg-second: #111827;
  --bg-third: #191d28;
  --bg-fourth: #1f2937;
  --title-light: #f3f4f6;
  --title-yellow: #eab308;
  --desc-first: #6b7280;
  --desc-second: #9ca3af;
  --desc-third: #d1d5db; 
}
